.container{
  margin: auto;
  margin-top: 30px!important;
  max-width: 500px!important;
}

.name-of-company{
    text-transform: uppercase;
    text-align:center;
    margin-top:-10px;
    font-weight: 900;
    font-size:30px;
    color:rgb(31,182,14);
    letter-spacing:2px;
}
.want-to-add{
  font-size:20px;
  text-transform: uppercase;
    text-align:center;
    margin-top:-40px;
    font-weight:600;
}
.text{
    padding-bottom:5px;
    font-weight:600;
    font-size:14px;
    text-align:center;
    border-bottom: 1px solid #ddd;
}
.inform{
  align-content:center;
    position:relative;
    margin-top:-10px;
    font-size:14px;
    font-weight:600;
    padding-bottom:5px;
}
.wrapper{
  margin-top:-20px;
  border-bottom:1px solid #ddd;
}

/*//"https://bulma.io/documentation/modifiers/helpers/""*/
.left-col {
    display: block;
}
.right-col{
    display:block;
    text-align:right;
  align-content:center;
}
.change .text{
    border-bottom:none;
    margin-top:-5px;
}
div.smiles.columns.is-mobile{
  margin-top: 5px;
}

.smile-happy > img, .smile-surprised > img, .smile-sad > img{
    width:65px!important;
    height:65px!important;
}
button.button.is-success{
    background-color: rgb(31, 182, 14);
}
button.button.is-success.ok {
    width:120px;
    display:block;
  line-height:2px;
    margin:-15px auto auto auto;
}

button.button.is-success:hover{
  background-color: rgba(31,182,14,0.8);
}
.thisSmile > img{
  clip-path: circle(38px at center);
  filter: drop-shadow(2px 2px 5px red);
}
button.button.is-text{
   line-height:2px;
  display:block;
  margin:5px auto -10px auto;
    text-align:center;
    height:20px;
    font-size:13px;
}
.some-text{
    font-size:14px;
    text-align:center;
    margin-bottom:20px;
}

button.button.is-danger{
    background-color:red;
    margin-left:30px;
}
.hide{
 display:none;
}
.wait{
    font-size:20px;
}
.made{
    margin-top:-5px;
    font-size:15px;
    text-align:end;
    color:rgb(31, 182, 14);
    font-weight:700;
}
.report{
    padding-top:15px;
    padding-left:5px;
    font-size:15px;
}
.facebook, .google{
    width:80px!important;
    margin:auto;
}
.facebook{
  margin-left:80px!important;
}
.google{
  margin-right:80px!important;
}
.bonus{
  margin: auto!important;
}
button.not-match-truth, button.mistake{
  margin:5px auto 15px auto;
  text-align:center;
  line-height: 60%;
}
.ready{
  margin-top:40px;
  margin-left:10px;
    color:rgb(31, 182, 14);
    font-size:40px;
    font-weight:700;
}
.how{
  margin-left:0;
}
input.input{
  text-align:center;
  margin:auto;
  width:210px;
  border-right:none;
  border-left:none;
  border-top:none;
  border-radius: 0;
  box-shadow:none;
}
button.getBonus{
  margin:15px auto 40px auto;
  line-height:60%;
}
a.service{
  font-size:13px;
}

